body{background-image: url("imagem/teste.jpg");
 
 }
p  {
  color: black;
  font-family: arial;
  font-size: 100%;
}
th{
	color:pink;
    font-family: arial;
    font-size: 200%;
}
h1{
	color:grey;
	font-family: verdana;
	font-size: 150%;

}
h2{
	color:grey;
	font-family: verdana;
	font-size: 90%;
}

	.button {
  background-color: #FF3030;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: line-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}
