body{background-image: url("imagem/teste.jpg");
 
 }
p  {
  color: black;
  font-family: arial;
  font-size: 80%;
}
th{
	color:hotpink;
    font-family: arial;
    font-size: 200%;
}
h1{
	color:dimgrey;
	font-family: verdana;
	font-size: 300%;

}
h2{
	color:blue;
	font-family: verdana;
	font-size: 200%;
}

	.button {
  background-color: #FF3030;
  border: none;
  color: white;
  padding: 20px 20px;
  text-align: center ;
  text-decoration: none;
  display: line-block;
  font-size: 25px;
  margin: 1px 1px;
  cursor: pointer;
}
